html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
#messageInput {
    border: 1px solid #ccc; /* Border style */
    border-radius: 10px; /* Add rounded corners */
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.user-list {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}
.user-item {
    padding: 10px;
    cursor: pointer;
} 
.user-item:hover {
    background-color: #f0f0f0;
 }
.selected {
    background-color: #007bff;
    color: #fff;
}
.botbtn {
    position: absolute;
    bottom: 0;
}
.action_btns_GlobalChat:hover {
    background-color: lightblue !important;
    transform: scale(1.2);
}
